/*
white - #FAF8EC
brown - #704427
yellow - #FFF700
dirty yellow - #E3D432
red - #C62F24
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-family: 'Raleway', sans-serif;
	background: #704427;
	color: #FAF8EC;
	margin: 0;
}

.content-wrap {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-narrow {
	width: 30%;
	float: left;
	min-height: 175px;
}

.col-wide {
	width:70%;
	float: left;
	padding-left:20px;
	min-height: 175px;
}
.exp{
	background: #E3D432;
	color: black;
}

.edu {
	background: #C62F24;
}

img {
	display: block;
	margin: auto;
	width: auto;
}

h1, h2 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 20px;
	margin-top: 0;
}

/* Header and Footer  */
header, footer {
	background: #704427;
}

/* Header */

.profile-pic {
	border-radius: 50%;
}

header h1, header h2 {
	margin: 0;
}

footer {
	text-align: center;
}

.contact-info a {
	margin: 10px;
	padding: 10px;
	color: #FAF8EC;
	display: inline-block;
}